<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %} Badid Nabyl {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Mon portfolio" />
        <meta name="author" content="Badid Nabyl" />
        <meta property="og:title" content="Badid Nabyl" />
        <meta property="og:description" content="Mon portfolio, regroupant tous mes projets" />
        <meta property="og:url" content="http://www.webagencyp.portfolio.com" />
        <meta property="og:image" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset("/assets/img/favicon.ico") }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ asset("/css/styles.css") }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    
    <body id="page-top">
        {% block navbar %}
            {% include "navbar.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include "footer.html.twig" %}
        {% endblock %}
        {% block javascripts %}
            <!-- Bootstrap core JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
            <!-- Third party plugin JS-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        {% endblock %}
    </body>
</html>