{% extends 'base.html.twig' %}

{% form_theme formProject 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1> Modification du projet </h1>

            {{ form_start(formProject) }}
                {{ form_widget(formProject) }}
            <input type="submit" class="btn formButton" />
            {{ form_errors(formProject) }}

            {{ form_end(formProject) }}
        </div>
    </section>
{% endblock %}

